/* --------------------------------------------signup css start --------------------------- */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin: 10px;
}

input {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px #61dafb;
}


/* --------------------------------------------signup css End --------------------------- */